$invalid : #ff0000;
$primary : #ff0066;
$textcolor-secondary : #ffffff;

#content-header{
    display: flex;
    flex-direction: row;
   
}

#title{
    flex-grow: 1;
}

input.ng-invalid.ng-touched.updateStyle{
    border: 1px $invalid solid;
}

textarea.ng-invalid.ng-touched.updateStyle{
    border: 1px $invalid solid;
}

.newnote-card{
    background-color: $primary;
}

h3, label {
    color: $textcolor-secondary;
}




