
<mat-card style="margin: 50px;">
  <app-addnote 
    [isUpdate]=update 
    [toBeUpdateNote]=newOrUpdateNote 
    (sendNotes)="addNoteOrUpdateNote($event)"
    (sendUpdateOrSaveStatus)="setUpdateFalse($event)"></app-addnote>
</mat-card>


<div style="margin: 10px;">
    <div id="content-header">
        <h2 id="title">Post Listing</h2>
    </div>
</div>

<div style="margin-top: 40px; margin-left: 10px;margin-right: 10px;">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let note of notes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{note.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{note.body}}</p>
          <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="updateNote(note)">Update</button>
          <button mat-raised-button color="warn" (click)="deleteNote(note)">Delete</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>

