<div style="margin: 10px;">
    <div id="content-header">
        <h3 id="title">Post Listing</h3>
        <span id="spacer"></span>
        <button id="addNote" 
            mat-raised-button color="accent" 
            [routerLink]="['./add']" 
            routerLinkActive="router-link-active" >Add</button>
    </div>
</div>

<div style="margin-top: 40px; margin-left: 10px;margin-right: 10px;">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let note of notes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{note.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{note.body}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>

