$invalid : #ff0000;
$primary : #ff0066;
$basic-margin : 50px;

$breakpoint-phone: 480px;


#content-header{
    display: flex;
    flex-direction: row;
   
}

#addNote,#title{
    flex-grow: 1;
}

#spacer{
    flex-grow: 5;
}

.postcard{
    background-color: $primary;
    margin: 50px 200px;

    @media screen and (max-width: $breakpoint-phone) {

        margin: 10px;
    }
    
}

button{
    float: right;
    margin-right: 15px;
}

.allnotecontainer{
    margin: $basic-margin;

    @media screen and (max-width: $breakpoint-phone) {

        margin: 10px;
    }
}